In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('fifa_s2.csv')
df.info()
df.describe()
df.head()
print(df.shape)
print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB
(2399, 18)
ID                            int64
Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                       float64
Wage                          int64
Preferred Foot               object
International Reputation    float64
Skill Moves                 float64
Position                     object
Joined                        int64
Contract Valid Until         object
Height                      float64
Weight                      float64
Release Clause              float64
dtype: object

In [6]:
for col in df.columns:
    missing_values = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(missing_values*100)))

ID - 0%
Name - 0%
Age - 0%
Nationality - 0%
Overall - 0%
Potential - 0%
Club - 10%
Value - 11%
Wage - 0%
Preferred Foot - 0%
International Reputation - 0%
Skill Moves - 0%
Position - 1%
Joined - 0%
Contract Valid Until - 11%
Height - 0%
Weight - 0%
Release Clause - 0%

Как видим, столбцы 'Club', 'Value', 'Contract Valid Until' имеют по 11% нулевых значений. Заменим их на 'N/A'. Столбцы 'Potential' и 'Overall' имеют одинаковые значения, удалим столбец 'Potential'

In [7]:

df1 = df.drop('Potential', axis=1)
df['Value'].fillna(df['Value'].mean(), inplace=True)
df['Contract Valid Until'].fillna('N/A', inplace=True)
df['Position'].fillna('N/A', inplace=True)
df['Nationality'].fillna('N/A', inplace=True)
df['Skill Moves'].fillna('N/A', inplace=True)
df['Release Clause'].fillna('N/A', inplace=True)
df['Club'].fillna('N/A', inplace=True)


df1.info()
for col in df1.columns:
    missing_values = np.mean(df1[col].isnull())
    print('{} - {}%'.format(col, round(missing_values*100)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Club                      2158 non-null   object
 6   Value                     2142 non-null   float64
 7   Wage                      2399 non-null   int64
 8   Preferred Foot            2399 non-null   object
 9   International Reputation  2389 non-null   float64
 10  Skill Moves               2393 non-null   float64
 11  Position                  2378 non-null   object
 12  Joined                    2399 non-null   int64
 13  Contract Valid Until      2126 non-null   object
 14  Height                    2399 non-null   float64
 15  Weight                    2399 non-null   float64
 16  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(5), object(6)
memory usage: 318.7+ KB
ID - 0%
Name - 0%
Age - 0%
Nationality - 0%
Overall - 0%
Club - 10%
Value - 11%
Wage - 0%
Preferred Foot - 0%
International Reputation - 0%
Skill Moves - 0%
Position - 1%
Joined - 0%
Contract Valid Until - 11%
Height - 0%
Weight - 0%
Release Clause - 0%

Нулевых значений нет. Преобразуем регистр в столбцах со строковыми значениями и удалим дубликаты.

In [8]:
df1['Club'] = df1['Club'].str.lower()
df1['Name'] = df1['Name'].str.lower()
df1['Nationality'] = df1['Nationality'].str.lower()

df_clear = df1.drop_duplicates()

print(df_clear.shape)
print(df.shape)

(2397, 17)
(2399, 18)

Всего было два дубликата.

Функция для разбиения возраста на группы и подсчета количества футболистов в каждой категории

In [9]:

def categorize_age(age):
    if age < 20:
        return 'до 20'
    elif age >= 20 and age < 30:
        return 'от 20 до 30'
    elif age >= 30 and age < 36:
        return 'от 30 до 36'
    else:
        return 'старше 36'
    
    
df_clear['Age_group'] = df_clear['Age'].apply(categorize_age)
player_count_by_age_group = df_clear['Age_group'].value_counts()

print(df_clear)
print(player_count_by_age_group)

          ID           Name  Age  Nationality  Overall                 Club  \
0       1179      g. buffon   40        italy       88  paris saint-germain
1       5479       casillas   37        spain       82             fc porto
2       8205          braga   35     portugal       70              cd aves
3       9014      a. robben   34  netherlands       84    fc bayern münchen
4      19521      j. ibehre   35      england       61     cambridge united
...      ...            ...  ...          ...      ...                  ...
2394  246465       guerrero   16        spain       63  cf rayo majadahonda
2395  246594    h. massengo   16       france       62            as monaco
2396  246599  guillem jaime   19        spain       64         fc barcelona
2397  246606    fran garcía   18        spain       64          real madrid
2398  246608        fidalgo   21        spain       65          real madrid

        Value  Wage Preferred Foot  International Reputation  Skill Moves  \
0      4000.0    77          Right                       4.0          1.0
1      1500.0    10           Left                       4.0          1.0
2       750.0     5          Right                       1.0          3.0
3     15500.0   110           Left                       4.0          4.0
4       120.0     2          Right                       1.0          2.0
...       ...   ...            ...                       ...          ...
2394    625.0     1           Left                       1.0          3.0
2395    450.0     2          Right                       1.0          2.0
2396    975.0    13          Right                       1.0          3.0
2397    825.0     9           Left                       1.0          2.0
2398    875.0    20          Right                       1.0          3.0

     Position  Joined Contract Valid Until    Height  Weight  Release Clause  \
0          GK    2018           01/01/2019  6.333333   203.0          7400.0
1         NaN    2015           01/01/2019  6.083333   185.0          3000.0
2         LCM    2017           01/01/2019  5.916667   165.0          1600.0
3          RM    2009           01/01/2019  5.916667   176.0         25600.0
4          ST    2017           01/01/2019  6.333333   203.0           210.0
...       ...     ...                  ...       ...     ...             ...
2394       CM    2018           01/01/2019  5.916667   165.0          1400.0
2395      CDM    2018           01/01/2021  5.833333   146.0          1100.0
2396       RW    2018           01/01/2020  5.833333   154.0          2600.0
2397       LB    2018           01/01/2019  5.583333   139.0          2200.0
2398       CM    2016           01/01/2019  5.750000   150.0          2000.0

        Age_group
0       старше 36
1       старше 36
2     от 30 до 36
3     от 30 до 36
4     от 30 до 36
...           ...
2394        до 20
2395        до 20
2396        до 20
2397        до 20
2398  от 20 до 30

[2397 rows x 18 columns]
Age_group
от 20 до 30    1646
от 30 до 36     458
до 20           270
старше 36        23
Name: count, dtype: int64

C:\Users\iAleksus\AppData\Local\Temp\ipykernel_13260\2120196042.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clear['Age_group'] = df_clear['Age'].apply(categorize_age)